---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - gotk-components.yaml
  - gotk-sync.yaml
  - secret.sops.yaml
  - discord-alert.yaml
patches:
  - target:
      kind: Kustomization
      name: flux-system
    patch: |-
      apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: flux-system
        namespace: flux-system
      spec:
        decryption:
          provider: sops
          secretRef:
            name: sops-age
  - patch: |-
      apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: _
      spec:
        patches:
          - patch: |-
              apiVersion: helm.toolkit.fluxcd.io/v2
              kind: HelmRelease
              metadata:
                name: _
              spec:
                install:
                  crds: CreateReplace
                  strategy:
                    name: RetryOnFailure
                rollback:
                  cleanupOnFail: true
                  recreate: true
                timeout: 10m
                upgrade:
                  cleanupOnFail: true
                  crds: CreateReplace
                  strategy:
                    name: RemediateOnFailure
                  remediation:
                    remediateLastFailure: true
                    retries: 2
            target:
              group: helm.toolkit.fluxcd.io
              kind: HelmRelease
    target:
      group: kustomize.toolkit.fluxcd.io
      kind: Kustomization
  - patch: |-
      apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: _
      spec:
        decryption:
          provider: sops
    target:
      group: kustomize.toolkit.fluxcd.io
      kind: Kustomization
