---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: ollama
  values:
    controllers:
      ollama:
        annotations:
          reloader.stakater.com/auto: "true"
        type: deployment
        replicas: 1
        strategy: Recreate
        containers:
          app:

            image:
              repository: ollama/ollama
              tag: 0.15.1@sha256:e0ae5354a9e4c85160df4698a45ae360cd0c12ef90e484b12fc870c28f491892
            env:
              - name: OLLAMA_KEEP_ALIVE
                value: "0"
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                cpu: 2000m
                memory: 4Gi
    service:
      app:
        controller: ollama
        ports:
          http:
            port: 11434
            protocol: TCP
    persistence:
      config:
        enabled: true
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /config
