---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-secrets
  namespace: system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: authentik-secrets
    creationPolicy: Owner
    template:
      data:
        AUTHENTIK_SECRET_KEY: "{{ .authentik_secret_key }}"
        AUTHENTIK_POSTGRES_PASSWORD: "{{ .authentik_postgres_password }}"
  dataFrom:
    - extract:
        key: authentik-secrets
