---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 10.4.0@sha256:4ea784cb1e28c7438a318e017c4badfb5a03ce4a1f45072e06b250038a49e437
  url: oci://ghcr.io/grafana/helm-charts/grafana
