---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: downloads
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: qbittorrent
  values:
    controllers:
      qbittorrent:
        type: deployment
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          gluetun:
            image:
              repository: qmcgaw/gluetun
              tag: v3.41.0
            probes:
              startup:
                enabled: false
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - sh
                      - -c
                      - "wget -nv -t1 -O - 'http://127.0.0.1:9999' || exit 1"
                  initialDelaySeconds: 30
                  timeoutSeconds: 2
                  failureThreshold: 3
            securityContext:
              privileged: true
              capabilities:
                add:
                  - NET_ADMIN
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                cpu: 500m
                memory: 256Mi
            envFrom:
              - secretRef:
                  name: vpn-config
            env:
              DOT: "off"
              FIREWALL_INPUT_PORTS: "8080,8388,9999"
              FIREWALL_OUTBOUND_SUBNETS: "10.42.0.0/24,10.42.1.0/24,192.168.1.0/24,10.0.0.0/24"
              IPV6_DISABLED: "true"
              PORT_FORWARD_ONLY: "on"
              SERVER_COUNTRIES: "Netherlands"
              SHADOWSOCKS: "on"
              TZ: "Europe/Paris"
              VPN_PORT_FORWARDING: "on"
              VPN_PORT_FORWARDING_PROVIDER: protonvpn
              VPN_SERVICE_PROVIDER: protonvpn
              VPN_TYPE: wireguard
          port-forward:
            dependsOn: gluetun
            image:
              repository: docker.io/snoringdragon/gluetun-qbittorrent-port-manager
              tag: "1.3@sha256:679b7a92c494f93b78ad37ef24f3a261e73d0a1a52505ad4f1e39580eedfa14f"
            resources:
              requests:
                cpu: 200m
                memory: 1Gi
              limits:
                memory: 6Gi
            env:
              QBITTORRENT_SERVER: localhost
              QBITTORRENT_PORT: "8080"
              PORT_FORWARDED: "/tmp/gluetun/forwarded_port"
              HTTP_S: "http"
          # qBittorrent application container
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
              runAsGroup: 1000
              runAsNonRoot: true
              runAsUser: 1000
            env:
              TZ: "Europe/Paris"
            resources:
              requests:
                cpu: 200m
                memory: 1.5Gi
              limits:
                cpu: 1000m
                memory: 2Gi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    service:
      app:
        controller: qbittorrent
        ports:
          http:
            port: 8080
            protocol: TCP
      proxy:
        controller: qbittorrent
        ports:
          shadowsocks:
            port: 8388
            protocol: TCP
    route:
      app:
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - qbit.erwanleboucher.dev
        rules:
          - backendRefs:
              - identifier: app
                port: 8080
    persistence:
      config:
        type: persistentVolumeClaim
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 2Gi
        globalMounts:
          - path: /config
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-media
        globalMounts:
          - path: /data
      incomplete:
        type: emptyDir
        globalMounts:
          - path: /incomplete-downloads
      gluetun-data:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            gluetun:
              - path: /tmp/gluetun
            port-forward:
              - path: /tmp/gluetun
                readOnly: true
      tmp:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            app:
              - path: /tmp
