# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: autobrr
  namespace: downloads
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: autobrr
  values:
    controllers:
      autobrr:
        annotations:
          reloader.stakater.com/auto: "true"
        type: deployment
        replicas: 1
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/autobrr/autobrr
              tag: v1.71.0@sha256:db9794958a0f9db93059c1e9f06193a063ce3846d346d7a7c9eca607c6617c51
            env:
              AUTOBRR__HOST: 0.0.0.0
              AUTOBRR__PORT: &port 80
              AUTOBRR__CHECK_FOR_UPDATES: "false"
            resources:
              requests:
                cpu: 25m
                memory: 128Mi
              limits:
                cpu: 200m
                memory: 512Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    service:
      app:
        controller: autobrr
        ports:
          http:
            port: *port
            protocol: TCP
    route:
      app:
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - autobrr.erwanleboucher.dev
    persistence:
      config:
        type: persistentVolumeClaim
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 2Gi
        globalMounts:
          - path: /config
      incomplete:
        type: emptyDir
        globalMounts:
          - path: /incomplete-downloads
