---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: autobrr
  namespace: downloads
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: autobrr
  values:
    controllers:
      autobrr:
        annotations:
          reloader.stakater.com/auto: "true"
        type: deployment
        replicas: 1
        pod:
          securityContext:
            fsGroup: 1000
            runAsUser: 1000
            runAsNonRoot: true

        containers:
          app:
            image:
              repository: ghcr.io/autobrr/autobrr
              tag: v1.73.0
            env:
              AUTOBRR__HOST: 0.0.0.0
              AUTOBRR__PORT: &port 80
              AUTOBRR__CHECK_FOR_UPDATES: "false"
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthz/liveness
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthz/readiness
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        parentRefs:
          - name: kgateway-internal
            namespace: network
        hostnames:
          - autobrr.erwanleboucher.dev
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      tmpfs:
        type: emptyDir
        advancedMounts:
          autobrr:
            app:
              - path: /config/log
                subPath: log
              - path: /tmp
                subPath: tmp
