---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseerr
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: jellyseerr
  values:
    controllers:
      jellyseerr:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: seerr/seerr
              tag: develop@sha256:3629235de0a07ec0789d71e968369f9adbcff9929fa05bf101113db06270f9b4
            env:
              - name: PUID
                value: "1000"
              - name: PGID
                value: "1000"
              - name: LOG_LEVEL
                value: "debug"
              - name: TZ
                value: "Europe/Paris"
            resources:
              requests:
                memory: 256Mi
              limits:
                memory: 2Gi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: 5055
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    service:
      app:
        controller: jellyseerr
        ports:
          http:
            port: 5055
            protocol: TCP
    route:
      app:
        parentRefs:
          - name: envoy-external
            namespace: network
          - name: envoy-internal
            namespace: network
        hostnames:
          - request.erwanleboucher.dev
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 2Gi
        globalMounts:
          - path: /app/config
