---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: '38.0.1'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 12h
  values:
    annotations:
      reloader.stakater.com/auto: "true"
    deployment:
      replicas: 1
    nodeSelector:
      kubernetes.io/hostname: le-havre
    service:
      type: LoadBalancer
      loadBalancerIP: 192.168.1.62
      externalTrafficPolicy: Cluster
    ports:
      web:
        port: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        port: 443
        tls:
          enabled: true
      dns-over-tls:
        port: 853
        expose:
          default: true
    # Enable dashboard API
    api:
      dashboard: true
      insecure: true

    # Enable logging
    logs:
      general:
        level: WARN
    # Prometheus metrics
    metrics:
      prometheus:
        serviceMonitor:
          enabled: true
    # Resource limits
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 512Mi
    extraObjects:
      - apiVersion: v1
        kind: Service
        metadata:
          name: traefik-api
        spec:
          type: ClusterIP
          selector:
            app.kubernetes.io/name: traefik
            app.kubernetes.io/instance: traefik-default
          ports:
            - port: 8080
              name: traefik
              targetPort: 8080
              protocol: TCP
