---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ollama
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/ai/ollama/app
  dependsOn:
    - name: envoy-gateway
    - name: longhorn
  postBuild:
    substitute:
      APP: ollama
      APP_NAMESPACE: ai
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: ai
  timeout: 5m
  wait: false
