---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fizzbuzz-staging
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: fizzbuzz
  values:
    controllers:
      fizzbuzz:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/eleboucher/fizzbuzz
              tag: sha-1698770
            env:
              PORT: "8080"
              ENVIRONMENT: "staging"
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8080
                  initialDelaySeconds: 10
                  periodSeconds: 5
                  timeoutSeconds: 3
                  failureThreshold: 30
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8080
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
    service:
      app:
        controller: fizzbuzz
        ports:
          http:
            port: 8080
            protocol: TCP
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        parentRefs:
          - name: agentgateway-external
            namespace: network
        hostnames:
          - fizzbuzz-staging.erwanleboucher.dev
