# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: github-exporter
spec:
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: github-exporter

  values:
    controllers:
      github-exporter:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/eleboucher/github-exporter
              tag: sha-42621d2
              pullPolicy: Always
            env:
              GITHUB_USER: "eleboucher"
              GITHUB_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: ghexp-credentials
                    key: GITHUB_TOKEN
            resources:
              requests:
                cpu: 20m
                memory: 256Mi
              limits:
                memory: 512Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 2112

    serviceMonitor:
      app:
        endpoints:
          - port: http

    persistence:
      config:
        type: configMap
        name: ghexp-config
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
