---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: silence-operator
spec:
  chartRef:
    kind: OCIRepository
    name: silence-operator
  interval: 30m
  values:
    alertmanagerAddress: http://alertmanager-operated.observability.svc.cluster.local:9093
    networkPolicy:
      enabled: false
