---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: jellyfin
  values:
    controllers:
      jellyfin:
        annotations:
          reloader.stakater.com/auto: "true"
        type: deployment
        replicas: 1
        strategy: Recreate
        pod:
          nodeSelector:
            kubernetes.io/hostname: kharkiv
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 1000
            runAsUser: 1000
            supplementalGroups:
              - 44 # video group
              - 992 # render group for /dev/dri
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.6
            env:
              - name: TZ
                value: "Europe/Paris"
            securityContext:
              privileged: true
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 1
                memory: 1Gi
              limits:
                memory: 10Gi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: jellyfin-gpu
    service:
      app:
        controller: jellyfin
        ports:
          http:
            port: 8096
            protocol: TCP
    route:
      app:
        parentRefs:
          - name: envoy-external
            namespace: network
          - name: envoy-internal
            namespace: network
        hostnames:
          - watch.erwanleboucher.dev
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 20Gi
        globalMounts:
          - path: /config
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-media
        globalMounts:
          - path: /data
      transcode:
        type: emptyDir
        globalMounts:
          - path: /transcode
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
      render-device:
        type: hostPath
        hostPath: /dev/dri/renderD128
        globalMounts:
          - path: /dev/dri/renderD128
