---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hypermind
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: hypermind
  values:
    controllers:
      hypermind:
        containers:
          hypermind:
            image:
              repository: ghcr.io/lklynet/hypermind
              tag: 1.0.1
            env:
              PORT: &port 3000
              TZ: Europe/Paris
              ENABLE_CHAT: "true"
              ENABLE_MAP: "true"
              MAX_CONNECTIONS: 30
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/stats
                    port: *port
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}
    service:
      app:
        controller: hypermind
        ports:
          http:
            port: *port
    route:
      app:
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - hypermind.erwanleboucher.dev
