---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 12h
  path: ./clusters/infrastructure/traefik/app
  prune: false # Will enable after migration complete
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: traefik
  timeout: 10m
  wait: true
