---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sparkyfitness
spec:
  chartRef:
    kind: OCIRepository
    name: sparkyfitness
  interval: 30m
  values:
    controllers:
      main:
        forceRename: sparkyfitness
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              # renovate: datasource=docker depName=ghcr.io/codewithcj/sparkyfitness-server
              repository: ghcr.io/codewithcj/sparkyfitness-server
              tag: v0.16.3.2
            env:
              # Configure application
              SPARKY_FITNESS_DB_NAME:
                secretKeyRef:
                  name: postgres-sparkyfitness-app
                  key: dbname
              SPARKY_FITNESS_APP_DB_USER:
                secretKeyRef:
                  name: postgres-sparkyfitness-app
                  key: username
              SPARKY_FITNESS_APP_DB_PASSWORD:
                secretKeyRef:
                  name: postgres-sparkyfitness-app
                  key: password
              SPARKY_FITNESS_DB_HOST: postgres-sparkyfitness-rw
              SPARKY_FITNESS_FRONTEND_URL: fitness.erwanleboucher.dev
              SPARKY_FITNESS_DISABLE_SIGNUP: false
              NODE_ENV: "production"
              TZ: "Europe/Paris"
              SERVER_UPLOADS_PATH: /uploads
            envFrom:
              - secretRef:
                  name: sparkyfitness-secrets
    service:
      main:
        controller: main
        ports:
          http:
            port: 3010
    persistence:
      uploads:
        type: persistentVolumeClaim
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /uploads
