---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qui
  namespace: downloads
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: qui
  values:
    controllers:
      qui:
        annotations:
          reloader.stakater.com/auto: "true"
        type: deployment
        replicas: 1
        pod:
          nodeSelector:
            kubernetes.io/hostname: kharkiv
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/autobrr/qui
              tag: develop@sha256:a3b4d7a7a52007392924282d5858f839f67ff1201ceeaf2860a8dd1858345fc2
            env:
              - name: TZ
                value: "Europe/Paris"
              - name: QUI__HOST
                value: "0.0.0.0"
              - name: QUI__BASE_URL
                value: "/"
              - name: QUI__PORT
                value: "8080"
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    service:
      app:
        controller: qui
        ports:
          http:
            port: 8080
            protocol: TCP
    route:
      app:
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - qui.erwanleboucher.dev
    persistence:
      data:
        enabled: true
        type: hostPath
        hostPath: /var/mnt/media
        globalMounts:
          - path: /data
      config:
        type: persistentVolumeClaim
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 2Gi
        globalMounts:
          - path: /config
