---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lingarr
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: lingarr
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      lingarr:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: lingarr/lingarr
              tag: 1.0.3
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
            env:
              TZ: "Europe/Paris"
              ASPNETCORE_URLS: http://+:9876
              DB_HANGFIRE_SQLITE_PATH: "/app/config/hangfire.db"
            resources:
              requests:
                cpu: 20m
                memory: 384Mi
              limits:
                memory: 2Gi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9876
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    service:
      app:
        controller: lingarr
        ports:
          http:
            port: 9876
            protocol: TCP
    route:
      app:
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - lingarr.erwanleboucher.dev
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 2Gi
        globalMounts:
          - path: /app/config
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-media
        globalMounts:
          - path: /data
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
