# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: qbittorrent
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/downloads/qbittorrent/app
  dependsOn:
    - name: longhorn
      namespace: kube-system
  postBuild:
    substitute:
      APP: qbittorrent
      APP_NAMESPACE: downloads
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: downloads
  timeout: 5m
  wait: false
