---
machine:
  type: controlplane
  certSANs:
    - 127.0.0.1
    - 192.168.1.41
  network:
    interfaces:
      # LACP Bond (802.3ad) with VLANs
      - interface: bond0
        mtu: 9000
        bond:
          interfaces:
            - enp3s0
            - enp2s0
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
        vlans:
          # VLAN 10 - Main network (Management)
          - vlanId: 10
            dhcp: true
            mtu: 1500
          # VLAN 20 - Storage network
          - vlanId: 20
            addresses:
              - 10.20.0.41/24
            mtu: 9000
    disableSearchDomain: false
  install:
    diskSelector:
      serial: 50026B73842F7F3C
  udev:
    rules:
      # Intel GPU - allow render group access to render devices
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="992", MODE="0660"
cluster:
  apiServer:
    certSANs:
      - 127.0.0.1
      - 192.168.1.41
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: kharkiv

