---
machine:
  type: controlplane
  certSANs:
    - 127.0.0.1
    - 192.168.1.41
  install:
    diskSelector:
      serial: 50026B73842F7F3C
  udev:
    rules:
      # Intel GPU - allow render group access to render devices
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="992", MODE="0660"
cluster:
  apiServer:
    certSANs:
      - 127.0.0.1
      - 192.168.1.41
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
hardwareAddr: 38:05:25:35:3B:9A
mtu: 9000
links:
  - enp3s0
  - enp2s0
bondMode: 802.3ad
lacpRate: fast
xmitHashPolicy: layer3+4
miimon: 100
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.20
vlanID: 20
parent: bond0
mtu: 9000
addresses:
  - address: 10.20.0.41/24
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: kharkiv
