---
machine:
  type: worker
  network:
    interfaces:
      - deviceSelector:
          hardwareAddr: BC:24:11:20:7D:2E
        addresses:
          - 192.168.1.7/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.1.254
        mtu: 1500
        dhcp: false
    nameservers:
      - 1.1.1.1
      - 1.0.0.1
      - 9.9.9.9
    disableSearchDomain: true
  install:
    disk: /dev/sda
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: le-havre
