---
machine:
  type: worker
  network:
    interfaces:
      - interface: ens18
        mtu: 9000
        vlans:
          # VLAN 10 - Main network (Management)
          - vlanId: 10
            dhcp6: false
            mtu: 1500
          # VLAN 20 - Storage network
          - vlanId: 20
            addresses:
              - 10.20.0.7/24
            mtu: 9000
  install:
    disk: /dev/sda
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: le-havre
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: ens18.10
clientIdentifier: mac
