---
machine:
  type: worker
  network:
    interfaces:
      # Single virtual NIC (LACP bonded at Proxmox host level)
      - interface: ens18
        mtu: 9000
        vlans:
          # VLAN 10 - Main network (Management)
          - vlanId: 10
            dhcp: true
            mtu: 1500
          # VLAN 20 - Storage network
          - vlanId: 20
            addresses:
              - 10.20.0.7/24
            mtu: 9000
    disableSearchDomain: false
  install:
    disk: /dev/sda
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: le-havre
