---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: profilarr
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: profilarr
  values:
    controllers:
      profilarr:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: santiagosayshey/profilarr
              tag: v1.1.4
            env:
              - name: TZ
                value: "Europe/Paris"
            resources:
              requests:
                cpu: 25m
                memory: 64Mi
              limits:
                memory: 456Mi
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 6868
                  initialDelaySeconds: 10
                  periodSeconds: 5
                  timeoutSeconds: 3
                  failureThreshold: 30
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 6868
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
    service:
      app:
        controller: profilarr
        ports:
          http:
            port: 6868
            protocol: TCP
    route:
      app:
        parentRefs:
          - name: kgateway-internal
            namespace: network
        hostnames:
          - profilarr.erwanleboucher.dev
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
