---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: webhook
spec:
  chartRef:
    kind: OCIRepository
    name: webhook
  interval: 30m
  values:
    controllers:
      webhook:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/webhook
              tag: 2.8.3@sha256:86ca6159752b741589012dd766f20d46a72cf052186f8f59d10cfc5252d8ac5c
            env:
              WEBHOOK__PORT: &port 8080
            envFrom:
              - secretRef:
                  name: webhook-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      config:
        type: configMap
        name: webhook-configmap
        defaultMode: 0775
        globalMounts:
          - readOnly: true
    route:
      app:
        hostnames:
          - webhook.erwanleboucher.dev
        parentRefs:
          - name: kgateway-external
            namespace: network
    service:
      app:
        ports:
          http:
            port: *port
