---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: radarr
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/media/radarr/app
  dependsOn:
    - name: envoy-gateway
    - name: longhorn
  postBuild:
    substitute:
      APP: radarr
      APP_NAMESPACE: media
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  timeout: 5m
  wait: false
