---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: kgateway
spec:
  jobLabel: kgateway
  namespaceSelector:
    matchNames:
      - network
  podMetricsEndpoints:
    - port: "9092"
      path: /metrics
      honorLabels: true
  selector:
    matchLabels:
      app.kubernetes.io/name: kgateway
