---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kguardian
components:
  - ../../components/sops

resources:
  - kguardian/ks.yaml
  - namespace.yaml
