---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: mikrotik-exporter
spec:
  path: ./kubernetes/apps/monitoring/mikrotik-exporter/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: monitoring
  interval: 10m
  prune: true
  wait: true
