# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: csi-driver-nfs
  values:
    controller:
      replicas: 1
    storageClass:
      create: true
      name: nfs-media
      parameters:
        server: 192.168.1.40
        share: /
      allowVolumeExpansion: true
      mountOptions:
        - nfsvers=4.2
        - nconnect=16
        - hard
        - timeo=100
        - retrans=5
        - noatime
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
