---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/admissionregistration.k8s.io/mutatingadmissionpolicybinding_v1beta1.json
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicyBinding
metadata:
  name: kopia-maintenance-nfs
spec:
  policyName: kopia-maintenance-nfs
---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/admissionregistration.k8s.io/mutatingadmissionpolicy_v1beta1.json
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicy
metadata:
  name: kopia-maintenance-nfs
spec:
  failurePolicy: Fail
  matchConditions:
    - name: has-kopia-maint-job-name-prefix
      expression: >-
        (has(object.metadata.name) &&
        object.metadata.name.startsWith("kopia-maint-")) ||
        (has(object.metadata.generateName) &&
        object.metadata.generateName.startsWith("kopia-maint-"))
    - name: repository-volume-does-not-exist
      expression: >-
        !has(object.spec.template.spec.volumes) ||
        !object.spec.template.spec.volumes.exists(item, item.name == "repository")
  matchConstraints:
    resourceRules:
      - apiGroups:
          - batch
        apiVersions:
          - v1
        operations:
          - CREATE
          - UPDATE
        resources:
          - jobs
  mutations:
    - patchType: JSONPatch
      jsonPatch:
        expression: >-
          [
            JSONPatch{
              op: "add", path: "/spec/template/spec/volumes/-",
              value: Object.spec.template.spec.volumes{
                name: "repository",
                nfs: Object.spec.template.spec.volumes.nfs{
                  server: "192.168.1.40",
                  path: "/backups/volsync-kopia"
                }
              }
            },
            JSONPatch{
              op: "add", path: "/spec/template/spec/containers/0/volumeMounts/-",
              value: Object.spec.template.spec.containers.volumeMounts{
                name: "repository",
                mountPath: "/repository"
              }
            }
          ]
  reinvocationPolicy: IfNeeded
