---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/agentgateway.dev/agentgatewaypolicy_v1alpha1.json
apiVersion: agentgateway.dev/v1alpha1
kind: AgentgatewayPolicy
metadata:
  name: kromgo
  namespace: monitoring
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: kromgo
  traffic:
    cors:
      allowOrigins:
        - "http://localhost:5173"
        - "https://erwanleboucher.dev"
        - "https://www.erwanleboucher.dev"
      allowMethods:
        - GET
        - OPTIONS
      allowHeaders:
        - "*"
      maxAge: 86400
