---
customization:
  extraKernelArgs:
    - -init_on_alloc
    - -init_on_free
    - -selinux
    - apparmor=0
    - i915.enable_guc=3
    - init_on_alloc=0
    - init_on_free=0
    - intel_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
    - pcie_aspm=off # Disable PCIe ASPM
    - mitigations=off
    - security=none
    - sysctl.kernel.kexec_load_disabled=1
    - talos.auditd.disabled=1
  systemExtensions:
        officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/iscsi-tools
            - siderolabs/mei
            - siderolabs/tailscale
            - siderolabs/util-linux-tools
            - siderolabs/nfsrahead
