---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 1h
  values:
    cleanPrometheusOperatorObjectNames: true
    alertmanager:
      route:
        main:
          enabled: true
          hostnames:
            - alertmanager.erwanleboucher.dev
          parentRefs:
            - name: kgateway-internal
              namespace: network
      alertmanagerSpec:
        alertmanagerConfiguration:
          name: alertmanager
          global:
            resolveTimeout: 5m
        externalUrl: https://alertmanager.erwanleboucher.dev
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: longhorn
              resources:
                requests:
                  storage: 1Gi
    kubeApiServer:
      enabled: true
      serviceMonitor:
        metricRelabelings:
          # Drop high cardinality labels
          - action: drop
            sourceLabels:
              - "__name__"
            regex: (apiserver|etcd|rest_client)_request(|_sli|_slo)_duration_seconds_bucket
          - action: drop
            sourceLabels:
              - "__name__"
            regex: (apiserver_response_sizes_bucket|apiserver_watch_events_sizes_bucket)
    kubeEtcd:
      service:
        selector:
          component: kube-apiserver
        port: 2381
        targetPort: 2381
    kubeProxy:
      enabled: false
    kubelet:
      enabled: true
      serviceMonitor:
        metricRelabelings:
          # Drop high cardinality labels
          - action: labeldrop
            regex: (uid)
          - action: labeldrop
            regex: (id|name)
          - action: drop
            sourceLabels:
              - "__name__"
            regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)
    nodeExporter:
      enabled: false
    prometheus:
      route:
        main:
          enabled: true
          hostnames:
            - prometheus.erwanleboucher.dev
          parentRefs:
            - name: kgateway-internal
              namespace: network

      prometheusSpec:
        externalUrl: https://prometheus.erwanleboucher.dev
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        retention: 14d
        retentionSize: 50GB
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 2000Mi
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: longhorn
              resources:
                requests:
                  storage: 50Gi
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      rbac:
        extraRules:
          - apiGroups:
              - helm.toolkit.fluxcd.io
              - source.toolkit.fluxcd.io
              - kustomize.toolkit.fluxcd.io
              - notification.toolkit.fluxcd.io
              - image.toolkit.fluxcd.io
            resources:
              - helmreleases
              - gitrepositories
              - kustomizations
              - helmrepositories
              - helmcharts
              - ocirepositories
              - buckets
              - receivers
              - alerts
              - providers
              - imagerepositories
              - imagepolicies
              - imageupdateautomations
            verbs:
              - "list"
              - "watch"
      customResourceState:
        enabled: true
        config:
          spec:
            resources:
              - groupVersionKind:
                  group: helm.toolkit.fluxcd.io
                  version: v2
                  kind: HelmRelease
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a Flux HelmRelease resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name:
                            - metadata
                            - name
                    labelsFromPath:
                      exported_namespace:
                        - metadata
                        - namespace
                      ready:
                        - status
                        - conditions
                        - "[type=Ready]"
                        - status
                      suspended:
                        - spec
                        - suspend
                      revision:
                        - status
                        - history
                        - "0"
                        - chartVersion
                      chart_name:
                        - status
                        - history
                        - "0"
                        - chartName
                      chart_app_version:
                        - status
                        - history
                        - "0"
                        - appVersion
                      chart_ref_name:
                        - spec
                        - chartRef
                        - name
                      chart_source_name:
                        - spec
                        - chart
                        - spec
                        - sourceRef
                        - name
              - groupVersionKind:
                  group: kustomize.toolkit.fluxcd.io
                  version: v1
                  kind: Kustomization
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a Flux Kustomization resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name:
                            - metadata
                            - name
                    labelsFromPath:
                      exported_namespace:
                        - metadata
                        - namespace
                      ready:
                        - status
                        - conditions
                        - "[type=Ready]"
                        - status
                      suspended:
                        - spec
                        - suspend
                      revision:
                        - status
                        - lastAppliedRevision
                      source_name:
                        - spec
                        - sourceRef
                        - name
    grafana:
      enabled: false
      forceDeployDashboards: true
      operator:
        dashboardsConfigMapRefEnabled: true
        folder: monitoring
        matchLabels:
          grafana.internal/instance: grafana
    additionalPrometheusRulesMap:
      dockerhub-rules:
        groups:
          - name: dockerhub
            rules:
              - alert: DockerhubRateLimitRisk
                annotations:
                  summary: There are {{ $value }} containers pulling from Dockerhub. This may lead to rate limiting.
                expr: count(time() - container_last_seen{image=~"(docker.io).*",container!=""} < 30) > 100
                labels:
                  severity: critical
      oom-rules:
        groups:
          - name: oom
            rules:
              - alert: OomKilled
                annotations:
                  summary: Container {{ $labels.container }} in pod {{ $labels.namespace }}/{{ $labels.pod }} has been OOMKilled {{ $value }} times in the last 10 minutes.
                expr: (kube_pod_container_status_restarts_total - kube_pod_container_status_restarts_total offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{reason="OOMKilled"}[10m]) == 1
                labels:
                  severity: critical
