---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
  namespace: monitoring
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: grafana-operator
