---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-operator-crds
  namespace: monitoring
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: prometheus-operator-crds
