---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns
  namespace: flux-system
spec:
  interval: 6h
  path: ./kubernetes/infrastructure/external-dns/app
  postBuild:
    substitute:
      APP: external-dns
      APP_NAMESPACE: network
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  timeout: 5m
  wait: false
