---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mikrotik-ssh-key
  namespace: system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: mikrotik-ssh-key
    creationPolicy: Owner
  data:
    - secretKey: id_ed25519
      remoteRef:
        key: mikrotik-cert-sync
