# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/external-secrets.io/externalsecret_v1.json
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: smtp-relay-secret
  namespace: system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: smtp-relay-secret
    creationPolicy: Owner
    template:
      data:
        SMTP_RELAY_HOSTNAME: "{{ .smtp_relay_hostname }}"
        SMTP_RELAY_PASSWORD: "{{ .smtp_relay_password }}"
        SMTP_RELAY_SERVER: "{{ .smtp_relay_server }}"
        SMTP_RELAY_USERNAME: "{{ .smtp_relay_username }}"
  dataFrom:
    - extract:
        key: smtp-relay-secret
