# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: speedtest-tracker
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: "4.6.0"
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      speedtest-tracker:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          nodeSelector:
            kubernetes.io/hostname: kharkiv
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: lscr.io/linuxserver/speedtest-tracker
              tag: "v1.13.3-ls130@sha256:ce42fcb3c4fdcceb22e8c91ad93b8293ea0fe0873221f07fce36aed65b6a1f51"
              pullPolicy: Always
            env:
              - name: PUID
                value: "1000"
              - name: PGID
                value: "1000"
              - name: APP_URL
                value: "https://speedtest.erwanleboucher.dev"
              - name: APP_KEY
                valueFrom:
                  secretKeyRef:
                    name: speedtest-token
                    key: app_key
              - name: DB_CONNECTION
                value: "sqlite"
              - name: SPEEDTEST_SCHEDULE
                value: "0 */6 * * *"
              - name: SPEEDTEST_SERVERS
                value: "32565, 62493, 61933"
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                cpu: 500m
                memory: 512Mi
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10

    service:
      app:
        controller: speedtest-tracker
        ports:
          http:
            port: 80
    route:
      app:
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - speedtest.erwanleboucher.dev
    persistence:
      config:
        type: persistentVolumeClaim
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 2Gi
        globalMounts:
          - path: /config
