# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/notification.toolkit.fluxcd.io/provider_v1beta3.json
---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/notification.toolkit.fluxcd.io/provider_v1beta3.json
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
  name: discord
  namespace: flux-system
spec:
  type: discord
  secretRef:
    name: discord-webhook-secrets
---
# yaml-language-server: $schema=https://k8s-schemas.erwanleboucher.dev/notification.toolkit.fluxcd.io/alert_v1beta3.json
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Alert
metadata:
  name: discord-info-alert
  namespace: flux-system
spec:
  eventMetadata:
    cluster: "default"
  providerRef:
    name: discord
  eventSeverity: error
  eventSources:
    - kind: FluxInstance
      name: "*"
    - kind: GitRepository
      name: "*"
    - kind: HelmRelease
      name: "*"
    - kind: HelmRepository
      name: "*"
    - kind: Kustomization
      name: "*"
    - kind: OCIRepository
      name: "*"
