---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: homepage-secrets
  namespace: system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: homepage-secrets
    creationPolicy: Owner
    template:
      data:
        HOMEPAGE_VAR_JELLYFIN_KEY: "{{ .homepage_var_jellyfin_key }}"
        HOMEPAGE_VAR_JELLYSEERR_KEY: "{{ .homepage_var_jellyseerr_key }}"
        HOMEPAGE_VAR_HASS_KEY: "{{ .homepage_var_hass_key }}"
        HOMEPAGE_VAR_SONARR_KEY: "{{ .homepage_var_sonarr_key }}"
        HOMEPAGE_VAR_RADARR_KEY: "{{ .homepage_var_radarr_key }}"
        HOMEPAGE_VAR_BAZARR_KEY: "{{ .homepage_var_bazarr_key }}"
        HOMEPAGE_VAR_PROWLARR_KEY: "{{ .homepage_var_prowlarr_key }}"
        HOMEPAGE_VAR_SABNZBD_KEY: "{{ .homepage_var_sabnzbd_key }}"
        HOMEPAGE_VAR_QBIT_USER: "{{ .homepage_var_qbit_user }}"
        HOMEPAGE_VAR_QBIT_PASS: "{{ .homepage_var_qbit_pass }}"
        HOMEPAGE_VAR_BESZEL_USER: "{{ .homepage_var_beszel_user }}"
        HOMEPAGE_VAR_BESZEL_PASS: "{{ .homepage_var_beszel_pass }}"
        HOMEPAGE_VAR_SPEEDTEST_KEY: "{{ .homepage_var_speedtest_key }}"
        HOMEPAGE_VAR_MIKROTIK_USER: "{{ .homepage_var_mikrotik_user }}"
        HOMEPAGE_VAR_MIKROTIK_PASS: "{{ .homepage_var_mikrotik_pass }}"
  dataFrom:
    - extract:
        key: homepage-secrets
