# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: homepage
  values:
    controllers:
      homepage:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: latest@sha256:7dc099d5c6ec7fc945d858218565925b01ff8a60bcbfda990fc680a8b5cd0b6e
            env:
              - name: TZ
                value: "Europe/Paris"
              - name: HOMEPAGE_ALLOWED_HOSTS
                value: "*"
            envFrom:
              - secretRef:
                  name: homepage-secrets
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                cpu: 500m
                memory: 512Mi
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
    service:
      app:
        controller: homepage
        ports:
          http:
            port: 3000
    route:
      app:
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - dash.erwanleboucher.dev
    configMaps:
      config:
        data:
          docker.yaml: ""
          kubernetes.yaml: |
            mode: cluster
          bookmarks.yaml: |
            - Resources:
              - BentoPDF:
                  - icon: bentopdf.png
                    href: https://pdf.erwanleboucher.dev
                    description: PDF Manager
              - GitHub:
                  - icon: github.png
                    href: https://github.com/erwanleboucher/mediaserver
              - Cloudflare:
                  - icon: cloudflare.png
                    href: https://dash.cloudflare.com/
              - Profilarr:
                  - icon: profilarr.png
                    href: https://profilarr.erwanleboucher.dev
                    description: Profile Manager
              - Qui:
                  - icon: qui.png
                    href: https://qui.erwanleboucher.dev
                    description: Download Manager
          settings.yaml: |
            title: Erwan's Home Lab
            useEqualHeights: true
            color: slate
            statusStyle: "dot"
            disableCollapse: true
            headerStyle: boxedWidgets
            layout:
              Monitoring:
                style: row
                columns: 3
              Media:
                style: row
                columns: 3
              Download:
                style: row
                columns: 2
              Automation:
                style: row
                columns: 3
              System:
                style: row
                columns: 3
            providers:
              longhorn:
                url: http://longhorn-frontend.kube-system
          widgets.yaml: |
            - datetime:
              text_size: xl
              format:
                timeStyle: short
            - kubernetes:
                cluster:
                  show: true
                  cpu: true
                  memory: true
                  showLabel: true
                  label: "cluster"
                nodes:
                  show: true
                  cpu: true
                  memory: true
                  showLabel: true
            - longhorn:
                  expanded: true
                  total: true
                  labels: true
                  nodes: true
            - openmeteo:
              label: Paris # optional
              latitude: 48.8575
              longitude: 2.3514
              timezone: Europe/Paris # optional
              units: metric # or imperial
              cache: 5 # Time in minutes to cache API responses, to stay within limits
            - openmeteo:
              label: Kharkiv # optional
              latitude: 50.0020
              longitude: 36.3074
              timezone: Europe/Kiev # optional
              units: metric # or imperial
              cache: 5 # Time in minutes to cache API responses, to stay within limits
          services.yaml: |
            - Monitoring:
              - Speedtest Tracker:
                  icon: speedtest-tracker.png
                  href: https://speedtest.erwanleboucher.dev
                  description: Internet Speed Tests
                  widget:
                    type: speedtest
                    version: 2
                    url: http://speedtest-tracker.monitoring
                    key: '{{ "{{" }}HOMEPAGE_VAR_SPEEDTEST_KEY{{ "}}" }}'
                    bitratePrecision: 3
              - Beszel:
                  icon: beszel.png
                  href: https://monitor.erwanleboucher.dev
                  description: Monitoring
                  widget:
                    type: beszel
                    url: http://beszel.monitoring:8090
                    username: '{{ "{{" }}HOMEPAGE_VAR_BESZEL_USER{{ "}}" }}'
                    password: '{{ "{{" }}HOMEPAGE_VAR_BESZEL_PASS{{ "}}" }}'
                    version: 2
              - Gatus:
                  icon: gatus.png
                  href: https://status.erwanleboucher.dev
                  description: Monitoring
                  widget:
                    type: gatus
                    url: http://gatus.monitoring
                    slug: default
              - Prometheus:
                  icon: prometheus.png
                  href: https://prometheus.erwanleboucher.dev
                  description: Metrics
                  widget:
                    type: prometheus
                    url: http://prometheus-operated.monitoring:9090
              - Mikrotik:
                  icon: mikrotik.png
                  href: https://router.erwanleboucher.dev
                  description: Router Management
                  widget:
                    type: mikrotik
                    url: https://router.erwanleboucher.dev
                    username: '{{ "{{" }}HOMEPAGE_VAR_MIKROTIK_USER{{ "}}" }}'
                    password: '{{ "{{" }}HOMEPAGE_VAR_MIKROTIK_PASS{{ "}}" }}'

            - Media:
              - Jellyfin:
                  icon: jellyfin.png
                  href: https://watch.erwanleboucher.dev
                  description: Media Player
                  widget:
                    type: jellyfin
                    url: http://jellyfin.media:8096
                    key: '{{ "{{" }}HOMEPAGE_VAR_JELLYFIN_KEY{{ "}}" }}'
              - Jellyseerr:
                  icon: jellyseerr.png
                  href: https://request.erwanleboucher.dev
                  description: Request Media
                  widget:
                    type: jellyseerr
                    url: http://jellyseerr.media:5055
                    key: '{{ "{{" }}HOMEPAGE_VAR_JELLYSEERR_KEY{{ "}}" }}'
              - Sonarr:
                  icon: sonarr.png
                  href: https://sonarr.erwanleboucher.dev
                  description: TV Shows
                  widget:
                    type: sonarr
                    url: http://sonarr.media:8989
                    key: '{{ "{{" }}HOMEPAGE_VAR_SONARR_KEY{{ "}}" }}'
              - Radarr:
                  icon: radarr.png
                  href: https://radarr.erwanleboucher.dev
                  description: Movies
                  widget:
                    type: radarr
                    url: http://radarr.media:7878
                    key: '{{ "{{" }}HOMEPAGE_VAR_RADARR_KEY{{ "}}" }}'
              - Bazarr:
                  icon: bazarr.png
                  href: https://bazarr.erwanleboucher.dev
                  description: Subtitles
                  widget:
                    type: bazarr
                    url: http://bazarr.media:6767
                    key: '{{ "{{" }}HOMEPAGE_VAR_BAZARR_KEY{{ "}}" }}'
              - Prowlarr:
                  icon: prowlarr.png
                  href: https://prowlarr.erwanleboucher.dev
                  description: Indexer Manager
                  widget:
                    type: prowlarr
                    url: http://prowlarr.media:9696
                    key: '{{ "{{" }}HOMEPAGE_VAR_PROWLARR_KEY{{ "}}" }}'

            - Downloads:
              - SABnzbd:
                  icon: sabnzbd.png
                  href: https://sabnzbd.erwanleboucher.dev
                  description: NZB Downloader
                  widget:
                    type: sabnzbd
                    url: http://sabnzbd.downloads:8080
                    key: '{{ "{{" }}HOMEPAGE_VAR_SABNZBD_KEY{{ "}}" }}'
              - qBittorrent:
                  icon: qbittorrent.png
                  href: https://qbit.erwanleboucher.dev
                  description: Torrent Downloader
                  widget:
                    type: qbittorrent
                    url: http://qbittorrent.downloads:8080
                    username: '{{ "{{" }}HOMEPAGE_VAR_QBIT_USER{{ "}}" }}'
                    password: '{{ "{{" }}HOMEPAGE_VAR_QBIT_PASS{{ "}}" }}'
            - Automation:
              - Home Assistant:
                  icon: home-assistant.png
                  href: https://home.erwanleboucher.dev
                  description: Home Automation
                  widget:
                    type: homeassistant
                    url: http://home-assistant.system:8123
                    key: '{{ "{{" }}HOMEPAGE_VAR_HASS_KEY{{ "}}" }}'

    persistence:
      config:
        type: configMap
        name: homepage
        advancedMounts:
          homepage:
            app:
              - path: /app/config/bookmarks.yaml
                subPath: bookmarks.yaml
              - path: /app/config/docker.yaml
                subPath: docker.yaml
              - path: /app/config/kubernetes.yaml
                subPath: kubernetes.yaml
              - path: /app/config/services.yaml
                subPath: services.yaml
              - path: /app/config/settings.yaml
                subPath: settings.yaml
              - path: /app/config/widgets.yaml
                subPath: widgets.yaml
    serviceAccount:
      homepage: {}
